
PDFLibrary/obj/rider.project.restore.info
PDFLibrary/obj/project.packagespec.json
PDFLibrary/obj/project.nuget.cache
PDFLibrary/obj/project.assets.json
PDFLibrary/obj/PDFLibrary.csproj.nuget.g.targets
PDFLibrary/obj/PDFLibrary.csproj.nuget.g.props
PDFLibrary/obj/PDFLibrary.csproj.nuget.dgspec.json
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.csproj.AssemblyReference.cache
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.assets.cache
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.AssemblyInfoInputs.cache
PDFLibrary/obj/Debug/netstandard2.1/PDFLibrary.AssemblyInfo.cs
PDFLibrary/obj/Debug/netstandard2.1/.NETStandard,Version=v2.1.AssemblyAttributes.cs
PDFAsset/PDFAsset/obj/rider.project.restore.info
PDFAsset/PDFAsset/obj/project.packagespec.json
PDFAsset/PDFAsset/obj/project.nuget.cache
PDFAsset/PDFAsset/obj/project.assets.json
PDFAsset/PDFAsset/obj/PDFAsset.csproj.nuget.g.props
PDFAsset/PDFAsset/obj/PDFAsset.csproj.nuget.dgspec.json
PDFAsset/PDFAsset/obj/Debug/netstandard2.0/PDFAsset.csproj.AssemblyReference.cache
PDFAsset/PDFAsset/obj/Debug/netstandard2.0/PDFAsset.assets.cache
PDFAsset/PDFAsset.iOS/obj/rider.project.restore.info
PDFAsset/PDFAsset.iOS/obj/project.nuget.cache
PDFAsset/PDFAsset.iOS/obj/project.assets.json
PDFAsset/PDFAsset.iOS/obj/PDFAsset.iOS.csproj.nuget.g.props
PDFAsset/PDFAsset.iOS/obj/PDFAsset.iOS.csproj.nuget.dgspec.json
PDFAsset/PDFAsset.iOS/obj/iPhoneSimulator/Debug/PDFAsset.iOS.csproj.AssemblyReference.cache
.idea/.idea.PDFAsset/.idea/vcs.xml
.idea/.idea.PDFAsset/.idea/misc.xml
.idea/.idea.PDFAsset/.idea/indexLayout.xml
.idea/.idea.PDFAsset/.idea/.name
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/bundler.stamp
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/codesign-bundle.items
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/codesign.items
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/ar/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/ca/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/ar/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/ca/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/cs/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/da/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/de/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/cs/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/da/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/de/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/el/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/es/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/fi/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/fr/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/he/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/hi/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/hr/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/hu/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/id/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/Info.plist
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/it/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/ja/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/ko/Xamarin.Forms.Platform.iOS.resources.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/LaunchScreen.storyboardc/Info.plist
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/LaunchScreen.storyboardc/UIViewController-X5k-f2-b5h.nib
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/LaunchScreen.storyboardc/X5k-f2-b5h-view-yd7-JS-zBw.nib
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/libmono-native.dylib
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/Mono.Security.dll
PDFAsset/PDFAsset.iOS/bin/iPhoneSimulator/Debug/device-builds/iphone12.1-14.5/PDFAsset.iOS.app/Mono.Security.pdb
PDFLibrary/obj/
PDFLibrary/bin/
PDFAsset/PDFAsset/bin/
PDFAsset/PDFAsset/obj/
PDFAsset/PDFAsset.iOS/bin/
PDFAsset/PDFAsset.iOS/obj/
